.hero_section {
  background-color: var(--mainGreen);
  width: 100%;
}

.hero_content {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../../img/wave1_img.svg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 56px 272px 0 354px;
  gap: 174px;
}

.hero_title {
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
}

.hero_txt {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  width: 370px;
  padding-top: 21px;
  color: var(--text-color-light);
}

.hero_image {
  flex-shrink: 0;
}

.hero_img {
  width: 100%;
  height: auto;
}

#animated-word {
  border-right: 2px solid #000;
  padding-right: 2px;
}

@keyframes blink {
  0%,
  50%,
  100% {
    border-color: transparent;
  }
  25%,
  75% {
    border-color: #000;
  }
}

#animated-word {
  animation: blink 0.7s infinite;
}

.companies {
  padding: 114px 418px 125px 418px;
  gap: 60px;
}

.company_text {
  text-align: center;
  padding: 0 40px;
}

.company_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.company_txt {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 30px;
  color: var(--text-color-light);
}

.company_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 43px;
  padding-top: 60px;
}
