.hero_section {
  background-color: var(--mainGreen);
  width: 100%;
}

.hero_content {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../../img/wave1_img.svg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 56px 272px 0 354px;
  gap: 174px;
}

.hero_title {
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
}

.hero_txt {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  width: 370px;
  padding-top: 21px;
  color: var(--text-color-light);
}

.hero_image {
  flex-shrink: 0;
}

.hero_img {
  width: 100%;
  height: auto;
}

#animated-word {
  border-right: 2px solid #000;
  padding-right: 2px;
}

@keyframes blink {
  0%,
  50%,
  100% {
    border-color: transparent;
  }
  25%,
  75% {
    border-color: #000;
  }
}

#animated-word {
  animation: blink 0.7s infinite;
}

.companies {
  width: 100%;
}

.company_cont {
  max-width: 1600px;
  margin: 0 auto;
  padding: 114px 418px 125px 418px;
  gap: 60px;
}

.company_text {
  text-align: center;
  padding: 0 40px;
}

.company_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.company_txt {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 30px;
  color: var(--text-color-light);
}

.company_icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 43px;
  padding-top: 60px;
}

.job_section {
  width: 100%;
  background-color: var(--dark-blue-color);
}
.job_cont {
  max-width: 1600px;
  margin: 0 auto;
  padding: 132px 160px 144px 250px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.job_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: var(--mainWhite);
  display: block;
  padding-bottom: 20px;
}

.job_txt {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  color: var(--footertextcolor);
  width: 400px;
}

.job_cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.job_card {
  background-color: var(--mainWhite);
  border-radius: 10px;
  padding: 26px 135px 28px 32px;
  width: 350px;
  height: 117px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.job_card:hover {
  box-shadow: 0px 4px 15px #0000001a;
  cursor: pointer;
  transform: translateY(-5px);
  background-color: var(--blue-color);
  transition: all 0.3s ease;
  color: var(--mainWhite);
}

.job_card:hover .job_card_txt {
  color: #bfbbf9;
}

.job_card_title {
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
}

.job_card_txt {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: var(--text-color-light);
}

.find_job_section {
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
  padding-top: 113px;
}

.fjob_left {
  display: block;
  flex-shrink: 0;
}

.find_job_text {
  text-align: center;
}

.find_job_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.find_job_txt {
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 17px;
  color: var(--text-color-light);
}

.fjob_instruction {
  display: flex;
  align-items: center;
  padding: 96px 340px 116px 245px;
  gap: 69px;
}

.fjob_content {
  display: flex;
  gap: 22px;
  padding-bottom: 50px;
}

.fjob_number {
  padding-top: 6px;
}

.num_item {
  background-color: var(--blue-color);
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--mainWhite);
  font-size: 17px;
  font-weight: 700;
}

.fjob_title {
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  padding-bottom: 10px;
}

.fjob_txt {
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  color: var(--text-color-light);
}
