.form_section {
  width: 100%;
  padding-bottom: 70px;
}

.form_cont {
  background-color: var(--graycolor);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_card {
  background-color: var(--mainWhite);
}
