.signup_section {
  width: 100%;
  padding-bottom: 70px;
}

.signup_content {
  background-color: var(--graycolor);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_card {
  background-color: var(--mainWhite);
  border-radius: 10px;
}

.login {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
  padding-top: 125px;
}

.content_login {
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 34px;
  color: var(--text-color-light);
}

.login_card {
  width: 350px;
  margin-top: 55px;
  padding: 30px 25px;
  box-shadow: 0 33px 34px -23px #161c2d21;
}

.form_field {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  gap: 7px;
}

#email,
#password {
  width: 100%;
  height: 50px;
  border: 1px solid #dfe3e8;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 15px;
  font-weight: 400;
}

.login_btn {
  width: 100%;
  height: 60px;
  background-color: var(--blue-color);
  border: none;
  border-radius: 8px;
  color: var(--mainWhite);
  font-size: 17px;
  font-weight: 700;
  line-height: 32px;
  cursor: pointer;
  margin-top: 45px;
}

.login_btn:hover {
  background-color: #2e2ed3;
  transition: 0.3s ease;
}

.login_bottom_text {
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  color: var(--text-color-light);
  margin-top: 40px;
  padding-bottom: 160px;
}

.login_bottom_text a {
  color: var(--blue-color);
}
