/* Support section */
.support_section {
  width: 100%;
}

.support_content {
  max-width: 1600px;
  margin: 0 auto;
}

.first_part {
  padding-top: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sup_title {
  font-size: 60px;
  font-weight: 700;
  line-height: 65px;
}

.sup_txt {
  width: 640px;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 44px;
  color: var(--text-color-light);
}

.second_part {
  padding: 85px 380px 210px 424px;
}

.item_title {
  font-size: 19px;
  font-weight: 700;
  line-height: 32px;
  padding-top: 43px;
  padding-bottom: 20px;
}

.light_txt {
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  color: var(--text-color-light);
}

.security_list {
  line-height: 50px;
}

.dot_li {
  padding-right: 10px;
  color: #19191b;
}
