html {
  font-family: var(--roboto-regular);
}

.header_cont {
  width: 1508px;
  margin: 0 auto;
  background-color: var(--mainGreen);
  padding: 21px 150px 0px 203px;
}

.header {
  max-width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comp_name {
  font-size: 28px;
  font-weight: 700;
  font-family: var(--rubik-regular);
}

.nav_menu {
  display: flex;
  align-items: baseline;
  gap: 40px;
}

.nav_item {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: var(--dark-blue-color);
  transition: color 0.3s ease-in-out;
}

.nav_item:hover,
.nav_item.active {
  color: var(--nav-hover-color);
}

.nav_btns {
  display: flex;
  align-items: center;
  gap: 40px;
}

.btn_login,
.btn_signup {
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  color: var(--dark-blue-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.btn_login:hover,
.btn_signup:hover {
  color: var(--nav-hover-color);
  transition: all 0.3s ease-in-out;
}

/*  FOOTER SECTION   */
.footer {
  width: 100%;
  background-color: var(--dark-blue-color);
}

.footer_cont {
  max-width: 1600px;
  padding: 122px 245px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 100px;
}

.footer_logo {
  font-size: 28px;
  font-weight: 700;
  color: var(--mainWhite);
  font-family: var(--rubik-regular);
}

.footer_left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.copy_txt {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: var(--footertextcolor);
  width: 274px;
}
.social_icons {
  display: flex;
  align-items: center;
  gap: 0px 16px;
}

.footer_right {
  display: flex;
  gap: 70px;
}

.footer_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: var(--footertextcolor);
}

.footer_title {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.footer_item {
  display: flex;
  gap: 12px;
}
.footer_item .footer-link {
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
  color: var(--mainWhite);
  display: block;
}

.input_wrapper .email_input {
  padding: 9px 12px;
  border-radius: 8px;
  color: var(--footertextcolor);
  font-size: 14px;
  line-height: 20px;
  background-color: #515b60;
  font-weight: 400;
}

.input_wrapper .email_input::placeholder {
  color: var(--footertextcolor);
}
