html {
  background-color: var(--bodycolor);
  font-family: var(--inter-regular);
}

/* HEADER SECTION */
.header_cont {
  background-color: rgb(255, 255, 255);
}
.header_cont h1 {
  font-family: Rubik;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.13px;
  padding: 25px 740px 26px 703px;
}
/* MAIN SECTION */
.main_section {
  width: 100%;
  text-align: center;
  background-color: #f4f7fa;
}

.login {
  font-family: Roboto;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
}

.content_login {
  font-family: Roboto;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  margin-top: 12px;
}

.form {
  width: 350px;
  height: 373px;
  opacity: 1;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 0px 34px 33px -23px #161c2d21;
  border: 1px solid #e7e9ed;
}
input {
  border: 1px solid var(--lightGrey);
  border-radius: 8px;
  width: 300px;
  height: 50px;
  font-size: 15px;
  font-weight: 400;
  padding: 12px;
  margin-bottom: 21px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
}
label {
    display: block;
    font-size: 15px;
    font-weight: 700;
    color: var(--mainBlack);
    padding: 7px;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*  FOOTER SECTION   */
.footer {
  width: 100%;
  background-color: #161c2d;
}

.footer_cont {
  max-width: 1440px;
  padding: 64px 165px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--mainWhite);
  font-family: var(--roboto-bold);
}

.footer_left {
  display: flex;
  flex-direction: column;
  gap: 40px 0px;
}

.copy_txt {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--footertextcolor);
  font-family: var(--inter-regular);
  width: 274px;
}
.social_icons {
  display: flex;
  align-items: center;
  gap: 0px 16px;
}

.footer_right {
  display: flex;
  gap: 30px;
}

.footer_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  color: var(--footertextcolor);
}

.footer_title {
  font-family: var(--inter-regular);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.footer_item {
  display: flex;
  gap: 12px 0px;
}
.footer_item .footer-links {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: var(--inter-regular);
  color: var(--footertextcolor);
  display: block;
  margin-bottom: 12px;
}

.input_wrapper .email_input {
  padding: 9px 12px;
  border-radius: 8px;
  color: var(--footertextcolor);
  font-size: 14px;
  line-height: 20px;
  background-color: #515b60;
  font-weight: 400;
}

.input_wrapper .email_input::placeholder {
  color: var(--footertextcolor);
}
